
.button.is-primary {
    background-color: #EB6F57;
    border-color: transparent;
    color: white;
}
.hero.is-primary {
    background-color: #EB6F57;
    color: white;
}
.button.is-primary:hover, .button.is-primary:focus, .button.is-primary.is-active {
    background-color: #fc2500;
    border-color: transparent;
    color: white;
}

.hero.is-primary .tabs.is-boxed li.is-active a, .hero.is-primary .tabs.is-boxed li.is-active a:hover, .hero.is-primary .tabs.is-toggle li.is-active a, .hero.is-primary .tabs.is-toggle li.is-active a:hover {
    background-color: #fff;
    color: #EB6F57;
}
.title {
    color: #EB6F57;
}

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #EB6F57;
    border-top: 3px solid transparent;
    color: #EB6F57;
}
.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    border-bottom: 1px solid #EB6F57;
    border-top: 1px solid transparent;
}
.hero.is-primary .tabs.is-boxed li.is-active a, .hero.is-primary .tabs.is-boxed li.is-active a:hover, .hero.is-primary .tabs.is-toggle li.is-active a, .hero.is-primary .tabs.is-toggle li.is-active a:hover {
    background-color: #F0F0F0;
}

.button .icon:last-child, .button .tag:last-child {
    margin-left: 0px;
}

.discussion-laravel{
    border-left-width: 5px;
    border-style: solid;
    border-left-color: #F56857;
}
.discussion-CSS{
    border-left-width: 5px;
    border-style: solid;
    border-left-color: #8CD362;
}
.nav.has-shadow {
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1);
    background-color: #F0F0F0;
}
.menu-list a:hover {
    background-color: #f5f7fa;
    color: #EB6F57;
}
.menu-list a.is-active {
    background-color: #EB6F57;
    color: white;
}
.card-header-text {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.is-laravel{
    background-color: #F56857;
    color: #fff;
}

.is-CSS{
    background-color: #8CD362;
    color: #fff;
}

.dropdown {
    display: inline-block;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.menu-list li a {
    border-radius: 2px;
    color: #69707a;
    display: block;
    padding: 5px 10px;
}


@media screen and (min-width: 720px) and (max-width: 2048px) {
    #nav-menu {
        display: none;
    }
}


a{
    color: #EB6F57;
}
a:hover{
    color: #222324;
}

.nav-item a:not(.button) {
    color: #222324;
}

.input:active, .textarea:active, .input:focus, .textarea:focus, .input.is-active, .is-active.textarea {
    border-color: #EB6F57;
    outline: none;
}

.select select:active, .select select:focus, .select select.is-active {
    border-color: #EB6F57;
    outline: none;
}

.box .head .options {
    display: inline-block;
    float: right;
    padding-top: 7px;
    color: #CCCCCC;
}

.background-is-primary {
    background-color: #EB6F57 !important;
}
